<mapper namespace="com.zjq.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="com.zjq.pojo.User" >
        select * from user
    </select>

    <!--
        User user = new User();
        user.setPhone("15656455662");
        user.setUsername("zjq");
    -->
    <select id="findOne" resultType="com.zjq.pojo.User" parameterType="com.zjq.pojo.User">
        select * from user where username = #{username} and phone = #{phone}
    </select>

</mapper>
